<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839007999760-jsc9i064ts2teqquueqdt9ffrqkr98a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839007999760-jsc9i064ts2teqquueqdt9ffrqkr98a2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839007999760-kora1ut1fi2okho6loh6sp67873bee5m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDC2giUZNsz0MtY9T1LE01IRWsUwYKUJxo</string>
	<key>GCM_SENDER_ID</key>
	<string>839007999760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theredapple.theRedApple</string>
	<key>PROJECT_ID</key>
	<string>the-red-apple-28f19</string>
	<key>STORAGE_BUCKET</key>
	<string>the-red-apple-28f19.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839007999760:ios:d0216bd1e56ba0b6d33795</string>
	<key>DATABASE_URL</key>
	<string>https://the-red-apple-28f19-default-rtdb.firebaseio.com</string>
</dict>
</plist>